body {
  background-color: var(--bodybg);
  margin-top: 0px;
  color: var(--textcolor);
}

i{
  cursor: pointer;
}

/* easter eggs */
.rainbowbg {
  background-image: url("../img/easter-egg/rainbow.gif");
  background-size: cover;
}

/* customizations */

.gradient {
  background: -webkit-linear-gradient(#6f95e2, #3446ad);
  background-clip: text;
  background-size: 100%; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  height: auto;
}

.grey-outline {
  outline-style: solid;
  outline-color: #1c1c1c;
  outline-width: 3.5px;
}

.card-content, .card-image{
  background-color: var(--card);
}

#modeswitcher{
  margin-right:8px;
}

/* animations */

.anim1{
    box-shadow: -10px -10px 0px #3850d5;
  transition-duration: 0.5s;
}

.anim1:hover{
  box-shadow: 10px 10px 0px #3850d5;
  transition-duration: 0.5s;
}  

.anim1v2{
    box-shadow: 10px -10px 0px #3850d5;
  transition-duration: 0.5s;
}

.anim1v2:hover{
  box-shadow: -10px 10px 0px #3850d5;
  transition-duration: 0.5s;
}  


.anim2{
    box-shadow: 0px 0px 2px #3850d5;
  transition-duration: 0.5s;
}

.anim2:hover{
  box-shadow: 0px 0px 30px #3850d5;
  transition-duration: 0.5s;
}

.anim3{
  color: #ffffff;
}

.anim3:hover{
  color: #b4bef9;
}

.anim4{
    box-shadow: 0px 0px 0px #ffffff;
  transition-duration: 0.5s;
}

.anim4:hover{
  box-shadow: 0px 0px 15px #ffffff;
  transition-duration: 0.5s;
}

/* font */

a, p{
  font-family: 'Kanit', sans-serif;
}
h2{
  font-size: 35px;
  margin: 15px;
}

/* nav-header */

header{
  margin-bottom: 80px;
}

nav{
  position: fixed;
  top: 0px;
  background-color: #3f51b5;
  z-index: 1;
}

nav div.right{
  display: flex;
  flex-direction: row;
}

nav div.right i{
  margin-left: 15px;
  margin-right: 15px;
  font-size: 30px;
}

nav ul div.modal-content{
  background-color: #3f51b5;
}


div.parallax img{
  width: auto;
}

div.content h1{
  text-align: center;
}

/* carousel 1 */

div.carousel{
  border-radius: 10px;
}

/* le studio */

div.block1{
  background-color: var(--block1bg);
  padding: 20px;
}

div.description{
  background-color: var(--descriptionbg);
  padding: 5px;
  border-radius: 4px;
}

/* les membres */

div.block2 {
  background-color: var(--block2bg);
  padding: 20px;
}

div.identity{
  background-color: var(--identity);
  border-radius: 4px;
}

div.identity img{
  width: 100%;
}



/* affichage */


@media only screen and (min-width: 768px) {
  .card.horizontal {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .card.horizontal {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

/* footer */

footer.page-footer{
  background-color: #3f51b5;
}

footer img{
  width: 15%;
  border-radius: 100px;
}

/* projets */

div.card-image {
  width: auto;
}

div.card-soom {
  margin: 10px;
}

#antoine {
  color:#4759e1
}