:root{
  --bodybg:#18181b;
  
  --block1bg:#1e1d20;
  --descriptionbg:#2c2c30;

  --block2bg:#1d1d20;
  --identitybg:#252528;
  --sidenav:#3d3d3d;
  --card:#333333;
  --modal:#171717;
  
  
  --textcolor:white;
}