:root{
  --bodybg:#ffffff;
  
  --block1bg:#e3e3e3;
  --descriptionbg:#ebebeb;

  --block2bg:#f0f0f0;
  --identitybg:#d1d1d1;
  --sidenav:#fcfcfc;
  --card:#c4c4c4;
  --modal:#e6e6e6;
  
  --textcolor:black;
}